streamlit==1.35.0
pillow==10.3.0
numpy==1.26.1
opencv-python-headless
langchain==0.1.16
PyPDF2==3.0.1
PyMuPDF==1.24.2
google.generativeai==0.5.2
langchain_community==0.0.34
sentence-transformers
faiss-cpu
tiktoken
InstructorEmbedding


